:root {
  --sonjacodes-brand-color: #F53B9B;
  --sonjacodes-brand-color-secondary: #D9D9D9;
  --heading-font-family: "Playfair Display", serif;
}

.navbar {
  background: var(--sonjacodes-brand-color-secondary);
  padding: 0;
  margin: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  max-height: 66px;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
  margin: 100px auto;
}

.container {
  background: white;
  border-radius: 4px;
  min-width: 370px;
  padding-bottom: 10px;
}

.hero {
  padding: 40px 20px;
  text-align: center;
}

.hero h3 {
  font-weight: normal;
}

h1 {
  color: var(--sonjacodes-brand-color);
  font-family: var(--heading-font-family);
  font-size: 96px;
}

p {
  line-height: 30px;
}

.btn-primary {
  background-color: black;
  border: black;
}

.btn-primary:hover {
  border: none;
  color: white;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  animation: slidebg 4s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.card-title {
  font-family: var(--heading-font-family);
  font-size: 32px;
  font-weight: bold;
}

#aboutme-card {
  margin: auto;
  max-width: 960px;
}

#aboutme-card img {
  margin: auto;
  max-width: 300px;
}

.mywork-paragraph,
.contactme-paragraph,
.contactme-container {
  font-size: 18px;
  padding: 0 50px 20px 50px;
  text-align: center;
}

.workenquiry-paragraph {
  margin: 0 auto;
}

.rotated {
  color: var(--sonjacodes-brand-color);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  transform: rotate(-180deg);
  writing-mode: tb-rl;
}

.work-enquiry {
  font-size: 12px;
}

.work-enquiry a,
.contactme-container a {
  color: var(--sonjacodes-brand-color);
}

.container-footer {
  background: var(--sonjacodes-brand-color-secondary);
  font-size: 24px;
  padding: 0;
  text-align: center;
}

.container-footer a {
  color: var(--sonjacodes-brand-color);
  padding: 0 30px;
}

@media (max-width: 960px) {
  .navbar-toggler {
    margin-right: 5px;
  }

  h1 {
    font-size: 60px;
  }

  .card-body {
    text-align: center;
  }

  #mywork-selectors .zoom:hover {
    cursor: copy;
  }

  .rotated {
    transform: rotate(-90deg);
    writing-mode: tb-rl;
  }
}

@media (min-width: 960px) {
  #mywork-selectors .zoom {
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  #mywork-selectors .zoom:hover {
    cursor: copy;
    position: relative;
    transform: scale(1.5);
    z-index: 1;
  }
}