:root {
  --sonjacodes-brand-color: #F53B9B;
  --sonjacodes-brand-color-secondary: #D9D9D9;
  --heading-font-family: "Playfair Display", serif;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
  margin: 50px auto;
}

.container {
  background: white;
  border-radius: 4px;
}

.hero {
  padding: 120px 20px;
  text-align: center;
}

.hero h3 {
  font-weight: normal;
}

h1 {
  color: var(--sonjacodes-brand-color);
  font-family: var(--heading-font-family);
  font-size: 96px;
}